<%- include('../header') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<% if (success && success.length > 0) { %>
	<script>
		Swal.fire({
			icon: 'success',
			title: 'Success',
			text: '<%= success %>',
			confirmButtonColor: '#28a745'
		});
	</script>
	<% } %>
	
	<% if (error && error.length > 0) { %>
	<script>
		Swal.fire({
			icon: 'error',
			title: 'Error',
			text: '<%= error %>',
			confirmButtonColor: '#dc3545'
		});
	</script>
	<% } %>
<div class="container" style="margin-top: 60px; height: 536px;">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <div class="card-title h4">Change Your Password</div>
                    </div>
                    <div class="card-body">
                        <form action="/changemypassword" method="post">

                            <!-- Old password -->
                            <div class="form-group mb-4">
                                <label for="oldpassword" class="mb-2">Old Password</label>
                                <input type="password" class="form-control py-2" id="oldpassword" name="oldpassword"
                                    placeholder="Enter your old password" required />
                            </div>

                            <!-- New password -->
                            <div class="form-group mb-4">
                                <label for="newpassword" class="mb-2">New Password</label>
                                <input type="password" class="form-control py-2" id="newpassword" name="newpassword"
                                    placeholder="Enter your new password" required />
                            </div>

                            <!-- Confirm password -->
                            <div class="form-group mb-4">
                                <label for="confimpassword" class="mb-2">Confirm Password</label>
                                <input type="password" class="form-control py-2" id="confimpassword"
                                    name="confimpassword" placeholder="Confirm your new password" required />
                            </div>

                            <!-- Submit button -->
                            <div class="form-group text-center">
                                <button class="btn btn-success px-5 py-2" type="submit">Change Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../footer') %>
