<%- include('../header') %>
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Change Password</div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <form action="/changemypassword" method="post">

                                    <!--old  password  -->
                                    <div class="form-group">
                                        <label>Old Password</label>
                                        <input type="password" class="form-control" id="oldpassword" name="oldpassword"
                                            placeholder="Password" required />
                                    </div>

                                    <!-- new password  -->
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" class="form-control" id="newpassword" name="newpassword"
                                            placeholder="Password" required />
                                    </div>


                                    <!-- confim password  -->
                                    <div class="form-group">
                                        <label>Confim Password</label>
                                        <input type="password" class="form-control" id="confimpassword"
                                            name="confimpassword" placeholder="Password" required />
                                    </div>
                                    <!-- button  -->
                                    <div class="card-action">
                                        <button class="btn btn-success" type="submit">Change Password</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../footer') %>